// ==============================
// Logo
// =============================

.logo-wrapper {
  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
  }
}

.header-avatar {
  height: 48px;
  width: 48px;
  margin-right: 12px;
}

.img-circle {
  border-radius: 50%;
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
